body {
    margin: 0;
    color: white;
    background-color: black;
    text-align: center;
}

.question {
    font-size: 26px;
    font-weight: 700;
}

.choice-maker {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.1em;
}

#btn-rock {
    font-weight: 700;
}

#btn-paper {
    font-weight: 700;
}

#btn-scissors {
    font-weight: 700;
}

.choices {
    display: flex;
    font-weight: 900;
    font-size: 72px;
}

#user-choice {

}

#computer-choice {
    
}

#choices {

}

#scores {

}

#winner {

}